<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail>
      <ion-img src="assets/logo.png"></ion-img>
    </ion-thumbnail>
    <p>Change Mauritius,One action at a time</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button expand="block" class="register_btn" href="https://anangel.mu/register"><img src="/assets/icon/register.png">Register</ion-button>
    <ion-button expand="block" class="login_btn" href="https://anangel.mu/login"><img src="/assets/icon/login.png">Login</ion-button>
    <ion-button expand="block" class="volunteer_btn" href="https://anangel.mu/dashboard/campaigns"><img src="/assets/icon/volunteer.png">Volunteer</ion-button>
    <ion-button expand="block" class="donate_btn" href="https://anangel.mu/dashboard/donate"><img src="/assets/icon/donate.png">Donate</ion-button>
    <ion-button expand="block" class="redeem_btn" href="https://anangel.mu/dashboard/redeem"><img src="/assets/icon/redeem.png">Redeem</ion-button>
    <ion-button expand="block" class="campaign_btn" href="https://anangel.mu/dashboard/campaigns/create"><img src="/assets/icon/campaign.png">Start a campaign</ion-button>
    <ion-button expand="block" class="validate_btn" href="https://anangel.mu/dashboard/tasks"><img src="/assets/icon/validate.png">Validate task</ion-button>
    <ion-button expand="block" class="chat_btn" href="https://api.whatsapp.com/send?phone=23052508038"><img src="/assets/icon/chat.png">Chat</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/anangel/"><img src="assets/icon/linkedin.png"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/anAngel2020/"><img src="assets/icon/facebook.png"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/an_angel_community/"><img src="assets/icon/insta.png"></a>
      </li>
    </ul>
  </ion-toolbar>
</ion-footer>